VITE_SUPABASE_URL=https://ljbezjjcbhdcqupxekea.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxqYmV6ampjYmhkY3F1cHhla2VhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI2MTM2NjQsImV4cCI6MjA4ODE4OTY2NH0.-IhiQ0ooSyfpwDaSPvHbohijGaKaLS88sRwNqzgiZpM
